<H1> Edit Your Tape </H1>


#<%= form_with(model: @tape) do |f| %>
    #<%= f.label :title %>
    #<%= f.text_field :title %>
    #<%= f.submit 'Update Mixtape' %>

#<% end %>

    #<%= link_to "Remove Mixtape", tape_path(@tape), method: "delete" %>
    