<h1> MIXTAPE home page </h1>
<br>
<div>
<H1> WELCOME BACK: <%= @current_user.name %> </H1>
 <% @current_user.tapes.each do |you| %> 
    <li> <%= you.title %> </li>
    <li> <%= you.opinions.count %> </li>
    <% end %>
</div>

<br>
<p> Public uploaded Mixtapes below <p>

<span>
<ul>
<% @tapes.each do |tap| %>
    <li> <%= link_to(tap.title, tape_path(tap)) %> - created by: <%=tap.user.name %> <br> uploaded - <%=tap.uploaded_at %> </li>
    
<% end %>


</ul>
</span>