<h1> MixTape Show Page </h1>



<h1><%= @tape.title %></h1>

<div>
    #all of the attributes you want to show on this show page put into here 
    <p> <%= @tape.artist %> </p>
    <p> <%= @tape.features %> </p>
    <p> <%= @tape.genre %> </P>
    <p> <%= @tape.tracks %> </P>
    <p> <%= @tape.uploaded_at %> </p>
</div>
--------------------------------------------------------
<br>

<%= link_to 'Edit Current Mixtape', edit_tape_path(@tape) %>
<br>
<%= link_to 'View Mixtape List', tapes_path %> 
<br>
# add the opinions on this page below
