<h1> show page </h1>

<%= image_tag(@tape.artcover) %>

<h1><%= @tape.title %></h1>

<div>
   #all of the attributes you want to show on this show page put into here 
</div>

#navigation buttons below to go back or edit goes below

<%= link_to 'Mixtape List', tapes_path %>
<%= link_to 'Change Mixtape', edit_tape_path(@tape)


# add the opinions on this page below

#this is nested resources so we have to define this on the controller page using the build method.
<%= form_with (model: [@image, @opinion]) do |f| %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.text_area :context %>
    <%= f.submit :opinion %>
<% end %>